
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_StandartLayout.cshtml";
}

<h1>Lütfen Geçiş Yapacağınız Paneli Seçiniz :)</h1>

<a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin sayfasına git</a>
<a asp-area="Member">Member sayfasına git</a>

