@model ReportDto
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
}

<div class="card text-white bg-success mb-3">
    <div class="card-header"> Görevin Adı : @Model.Task.Name</div>
    <div class="card-body">
        <h4 class="card-title">Görevin Acil Durumu : @Model.Definition</h4>
        <p class="card-text">Görevin Açıklaması : @Model.Task.Explanation</p>
    </div>
</div>

<form class="p-3" asp-action="Update" method="post">

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="TaskId" />
    <input type="hidden" asp-for="CreatedDate"/>

    <div class="form-group">
        <label asp-for="Definition"></label>
        <input asp-for="Definition" class="form-control" />
        <span asp-validation-for="Definition" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Detail"></label>
        <textarea asp-for="Detail" class="form-control"></textarea>
        <span asp-validation-for="Detail" class="text-danger"></span>
    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-success"><i class="fas fa-check mr-2"></i>Güncelle</button>
        <button type="submit" class="btn btn-warning" asp-action="Index"><i class="far fa-window-close"></i> Vazgeç</button>
    </div>
</form>

