@model TaskDto
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<form method="post" class="w-75 mx-auto p-3">

    <div class="form-group">
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Explanation"></label>
        <textarea id="text-editor" class="form-control"></textarea>
        <span asp-validation-for="Explanation" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UrgencyId"></label>
        @Html.DropDownListFor(ı => ı.UrgencyId, new SelectList(@ViewBag.Tası, "Id", "Definition"), "Lütfen Aciliyet Durumu Seçiniz", new { @class = "form-group form-control" })
        <span asp-validation-for="UrgencyId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success "><i class="fas fa-check mr-2"></i>Kaydet</button>
    <button type="submit" class="btn btn-warning" asp-action="Index"><i class="far fa-window-close"></i> Vazgeç</button>

</form>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.23.0/trumbowyg.min.js" integrity="sha512-sffB9/tXFFTwradcJHhojkhmrCj0hWeaz8M05Aaap5/vlYBfLx5Y7woKi6y0NrqVNgben6OIANTGGlojPTQGEw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.23.0/langs/tr.min.js" integrity="sha512-+HGzdrYvtA0U9cp5kJad8OpjTvUi6ywZ9z9kXFGiV3EaAR1II5X6lfulUm6/F9GKesHW+jHFfAqwXK0juybvMw==" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#text-editor').trumbowyg();

    });
</script>
}

@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.23.0/ui/trumbowyg.min.css" integrity="sha512-iw/TO6rC/bRmSOiXlanoUCVdNrnJBCOufp2s3vhTPyP1Z0CtTSBNbEd5wIo8VJanpONGJSyPOZ5ZRjZ/ojmc7g==" crossorigin="anonymous" />
}