@model TaskDto
@{
    ViewData["Title"] = "Get";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<form method="post" class="w-75 mx-auto p-3" asp-action="Update">
    <input type="hidden"  asp-for="Id"/>
    <input type="hidden" asp-for="CreatedDate" value="@Model.CreatedDate" />

    <div class="form-group">
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Explanation"></label>
        <textarea asp-for="Explanation" class="form-control"></textarea>
        <span asp-validation-for="Explanation" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UrgencyId"></label>
        @Html.DropDownListFor(ı => ı.UrgencyId, new SelectList(@ViewBag.Tası, "Id", "Definition"), "Lütfen Aciliyet Durumu Seçiniz", new { @class = "form-group form-control" })
        <span asp-validation-for="UrgencyId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success"><i class="fas fa-check mr-2"></i>Güncelle</button>
    <button type="submit" class="btn btn-info" asp-action="Index"><i class="fas fa-times"></i> Vazgeç</button>

</form>
