
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="text-center mt-4">

    <p class="lead">
        <b><strong>Sisteme Hoş Geldiniz</strong></b>
    </p>
    @*<p class="text-left"><strong>Bu sistem ile birlikte kullanıcılarınıza görev atabileceksiniz</strong>  </p>
    <p class="text-left"><strong>Kullanıcılara görev atıyacaksınız</strong></p>
    <p class="text-left"><strong>Kullanıcıları listeleyeceksiniz</strong></p>
    <p class="text-left"><strong>Sistem güvenlikli olacak Member olan kişi Admin kısmına ulaşamıyacak</strong></p>
    <p class="text-left"><strong>Kullanıcılarınızı listeleyeceksiniz</strong></p>*@

</div>


